{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load jalali_tags %}
{% block content %}
    <form method="post" dir="rtl" enctype="multipart/form-data">
        {% csrf_token %}
{#        {{ form|crispy}}#}
        <div class="container py-3 mt-4 card" style="background-color:#f6f6f6; width: 350px; height: 440px">
            <h5 class="text-center">افزودن تخفیف درصدی</h5>
            <div class="px-5 pt-4 text-center" >
                  <div class="mb-3">
                    {{ form.percent_amount|as_crispy_field }}
                  </div>
                  <div class="mb-3">
                    {{ form.max_discount|as_crispy_field }}
                  </div>
                  <div class=" mb-3">
                    {{ form.start_date|as_crispy_field }}
                  </div>
                  <div class="mb-2">
                    {{ form.end_date|as_crispy_field }}
                  </div>
                <div class="text-center">
                    <button type="submit" class="mt-4 btn w-75 text-white m-auto" style="background-color:#395697; width: 200px}
                 border-radius: 5px; ">ذخیره</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
