{% extends 'base.html' %}
{% block title %}تغییر پسورد{% endblock %}
{% block content %}
    {%load crispy_forms_tags %}
    <div class="card m-auto my-5" style="background-color: #f6f6f6;width: 360px; border-radius: 10px">
        <h5 class="text-center my-4">تغییر پسورد</h5>
        <form action="" method="post" class="text-center" }>
            {% csrf_token %}
            {{ form|crispy }}
{#{{ form.old_password }}#}
{#{{ form.new_password1 }}#}
{#{{ form.new_password2 }}#}
            <button type="submit" class="btn text-white my-5" style="background-color: #395697">اعمال تغییر</button>
        </form>
    </div>
    <style>
        form ul{
            display: none;
        }
    </style>
{% endblock %}