{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'book/add_book.css' %}" rel="stylesheet">
{% endblock %}
{%load crispy_forms_tags %}
{% block content %}
    <form method="post" dir="rtl">
        {% csrf_token %}
{#        {{ form|crispy}}#}
        <div class="container py-3 mt-5 card" style="background-color:#f6f6f6; width: 500px;
        height: 580px; border-radius: 10px">
            <h5 class="text-center">ویرایش آدرس</h5>
            <div class="px-5 pt-4" >
                <div class="row">
                  <div class=" col-6 mb-2">
                    {{ form.state|as_crispy_field }}
                  </div>
                  <div class=" col-6 mb-2">
                    {{ form.city|as_crispy_field }}
                  </div>
                </div>
                  <div class=" col mb-2">
                    {{ form.address|as_crispy_field }}
                  </div>
                <div class=" col mb-2">
                    {{ form.postal_code|as_crispy_field }}
                  </div>
                  <div class=" col mb-2">
                    {{ form.is_default|as_crispy_field }}
                  </div>
                <div style="padding-right: 130px">
                <button type="submit" style="width: 80px" class="mt-3 mb-4">ذخیره</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
