{% extends 'base.html' %}
{% block content %}
    <h5 class="text-center mt-5" style="color: green">تاریخچه سفارشات شما</h5>
    <table class="table-bordered m-auto mt-5 text-center" dir="rtl" style="width: 700px;">
      <thead>
        <tr style="background-color:#CCEED5; height: 40px">
          <th scope="col">تاریخ ثبت سفارش</th>
          <th scope="col">هزینه کل</th>
          <th scope="col">تعداد اقلام</th>
          <th scope="col">آدرس</th>
        </tr>
      </thead>
      <tbody>
          {% for order in orders %}
              <tr style="height: 40px">
                  <td>{{ order.created }}</td>
                  <td>{{ order.total_price }}</td>
                  <td>{{ order.counting_order_items }}</td>
                  <td>{{ order.address }}</td>
              </tr>
          {% endfor %}
      </tbody>
    </table>
{% endblock %}