# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Job\Maktab\Final_Project\book_store_GholamiMoghadam\phase2\SRC-Files\SRC-V2 - (after adding my custom user)\SRC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
